<!doctype html>
<html class="no-js" lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.bootcss.com/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <style></style>

    <% if (webpackConfig.mode === 'production') { %>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b06fc15b029903d34ded4f1adb578eaa";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <% } %>
</head>

<body>

<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->


<!-- Add your site or application content here -->
<div id="root"></div>

<% if (webpackConfig.mode === 'production') { %>
<script src="https://cdn.bootcss.com/react/16.8.0-alpha.1/umd/react.production.min.js"></script>
<script src="https://cdn.bootcss.com/react-dom/16.8.0-alpha.1/umd/react-dom.production.min.js"></script>
<% } else { %>
<script src="https://cdn.bootcss.com/react/16.8.0-alpha.1/umd/react.development.js"></script>
<script src="https://cdn.bootcss.com/react-dom/16.8.0-alpha.1/umd/react-dom.development.js"></script>
<% } %>
<script src="https://cdn.bootcss.com/modernizr/2010.07.06dev/modernizr.min.js"></script>

</body>

</html>
